---
title: Accepted Papers
layout: page
slide_id: 7
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Accepted Papers</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h2, h4 {
            color: #68c3b7
            ;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            margin-bottom: 10px;
        }
        .paper-title {
            font-weight: bold;
        }
        .authors {
            font-style: italic;
        }
    </style>
</head>
<body>
    <h6 class="text-info">Accepted Papers</h6>
    <ul>
        <li>
            <span class="paper-title">Binders for switch graphs specification</span> - 
            <span class="authors">Daniel Figueiredo and Alexandre Madeira</span>
        </li>
        <li>
            <span class="paper-title">Towards resolving distributed beliefs</span> - 
            <span class="authors">John Lindqvist, Fernando R. Velázquez-Quesada and Thomas Ågotnes</span>
        </li>
        <li>
            <span class="paper-title">Arbitrary Radical Upgrades</span> - 
            <span class="authors">Raul Fervari and Benjamin Icard</span>
        </li>
        <li>
            <span class="paper-title">Behavioural Equivalences over Reconfigurable Systems</span> - 
            <span class="authors">Bogdan Aman and Gabriel Ciobanu</span>
        </li>
        <li>
            <span class="paper-title">Higher-order arrows for Path-Dependent Many-Valued Systems</span> - 
            <span class="authors">Sérgio Marcelino</span>
        </li>
    </ul>

    <h6 class="text-info">Short Papers</h6>
    <ul>
        <li>
            <span class="paper-title">Pivotal Rules Consequence in Action Model Logic</span> - 
            <span class="authors">Valentin Cassano and Sabine Frittella</span>
        </li>
        <li>
            <span class="paper-title">Reconfiguring staggered quantum walks with ZX</span> - 
            <span class="authors">Bruno Jardim, Jaime Santos and Luís Soares Barbosa</span>
        </li>
        <li>
            <span class="paper-title">Paraconsistent Reactive Graphs</span> - 
            <span class="authors">Juliana Cunha, Alexandre Madeira and Luís Soares Barbosa</span>
        </li>
        <li>
            <span class="paper-title">Many-logic Modal Structures Based on the Lattice L6: A First Look </span> - 
            <span class="authors">Abilio Rodrigues Filho, Marcelo Coniglio and Alfredo Freire</span>
        </li>
        <li>
            <span class="paper-title">A new fuzzy approach to transition and bisimulation systems</span> - 
            <span class="authors">Benjamin Bedregal and Claudio Callejas</span>
        </li>
    </ul>
</body>
</html>
 


<!-- <div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-muted conference-text text-justify">
        <h5 class="text-info">Accepted Papers</h5>
        <ul>
            {% for paper in site.data.accepted %}
            <li>
                <strong>{{paper.title}}</strong>
                <br>
                {% for author in paper.authors %}
                <span title="{{author.name}} ({{author.affiliation}})">{{author.name}}</span>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div> -->